<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OneCode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OneCode.Properties.Settings>
            <setting name="CodeLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="CodeStyle" serializeAs="String">
                <value>CamelCase</value>
            </setting>
        </OneCode.Properties.Settings>
    </userSettings>
</configuration>